@inherits ComponentBase

<div class="member-info">
    <h3>@Member.FirstName @Member.LastName</h3>

    <p><b>Email:</b> @Member.Email</p>
    <p><b>Phone:</b> @Member.Phone</p>
    <p><b>Discord:</b> @Member.DiscordUserName</p>

    <p>
        <b>Status:</b> @Member.Status
    </p>
</div>