<EditForm Model="@_newMember" OnValidSubmit="@ApplyForMembershipAsync" class="member-form" >
    <DataAnnotationsValidator />
    <h3> Apply for membership </h3>
    <hr class="spacer" />
    <div class="form-grid">
        <div class="form-col">
            <label>First Name</label>
            <InputText @bind-Value="_newMember.FirstName" required />
            <ValidationMessage For="@(() => _newMember.FirstName)" />
        </div>

        <div class="form-col">
            <label>Last Name</label>
            <InputText @bind-Value="_newMember.LastName" required />
            <ValidationMessage For="@(() => _newMember.LastName)" />
        </div>

        <div class="form-col">
            <label>Email</label>
            <InputText @bind-Value="_newMember.Email" required />
            <ValidationMessage For="@(() => _newMember.Email)" />
        </div>

        <div class="form-col">
            <label>Phone</label>
            <InputText @bind-Value="_newMember.Phone" required />
            <ValidationMessage For="@(() => _newMember.Phone)" />
        </div>

        <div class="form-col">
            <label>Discord Username</label>
            <InputText @bind-Value="_newMember.DiscordUserName" required />
            <ValidationMessage For="@(() => _newMember.DiscordUserName)" />
        </div>

        <div class="form-col">
            <label>Birth Date</label>
            <InputDate @bind-Value="_newMember.BirthDate" required />
            <ValidationMessage For="@(() => _newMember.BirthDate)" />
        </div>
    </div>

    <h5>Address</h5>

    <div class="form-grid">
        <div class="form-col">
            <label>Street / House Number</label>
            <InputText @bind-Value="_newMember.Address.Street" required />
            <ValidationMessage For="@(() => _newMember.Address.Street)" />
        </div>

        <div class="form-col">
            <label>Zip Code</label>
            <InputText @bind-Value="_newMember.Address.ZipCode" required />
            <ValidationMessage For="@(() => _newMember.Address.ZipCode)" />
        </div>

        <div class="form-col">
            <label>City</label>
            <InputText @bind-Value="_newMember.Address.City" required />
            <ValidationMessage For="@(() => _newMember.Address.City)" />
        </div>

        <div class="form-col">
            <label>Country</label>
            <InputText @bind-Value="_newMember.Address.Country" required />
            <ValidationMessage For="@(() => _newMember.Address.Country)" />
        </div>
    </div>
    <hr class="spacer" />
    <button type="submit" class="btn btn-primary ">Apply</button>
</EditForm>
